@import "root";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    padding: 1%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: $color-main;
    color: $color-text;
}

header{
    display: flex;
    justify-content: space-between;
    nav{
        ul{
            display: flex;
            li{
                list-style-type: none;
                margin: 15px;
                a{
                    text-decoration: none;
                    color: $color-text;
                    transition: all 500ms;
                }
                a:hover{
                    text-decoration: underline $color-btn;
                }
            }
        }
    }
}

main{
    section{
        margin: 5%;
    }
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
         .ilustration-intro{
        width: 50%;
         }
       .text-intro{
           width: 50%;
           text-align: center;
           h2{
            font-size: 2em;
            margin-bottom: 5%;
           }
           p{
               line-height: 1.5em;
           }
       } 
        .btn-intro{
            @extend .btn-style;
        }
    }

    .features{
        display: grid;
        grid-template-columns: 30% 30%;
        gap: 30px;
        justify-content: center;

        .detail-features{
            text-align: center;
            line-height: 22px;
        }

    }

    .illustration-productive{
        display: flex;
        align-items: center;
        justify-content: space-around;
        div{
            h4{
                font-size: 2.5em;
                max-width: 55%;
            }
            p{
                line-height: 1.5em;
                white-space: normal;
            }
            .linkillustration{
                color: $color-btn;
                transition: all 200ms;
            }
            .linkillustration:hover{
                color: $color-btn;
            }
        }
    }
    .opinions{
        display: flex;
        margin-top: 10%;
        justify-content: space-evenly;
        position: relative;
       
        .quotes{
            position: absolute;
            top: -35px;
            left: 35px;
            z-index: -1;
        }
        .card-opinions{
            background-color: $color-testimonials;
            max-width: 430px;
            line-height: 1.5em;
            border-radius: 5px;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            margin: 10px;
            p{
                font-size: 1em;
            }
            .photo-card{
                display: flex;
                align-items: center;
                p{
                    font-size: 0.8em;
                    padding: 0;
                }
            }
            .img-card{
                border-radius: 50%;
                width: 12%;
                height: 12%;
            }
        }
    }

    .suscription {
        display: block;
        text-align: center;
        position: relative;
        margin-left: 25%;
        margin-bottom: -8%;
        background-color: $color-testimonials;
        border-radius: 4px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
        max-width: 50%;
        padding: 2%;
        p{
            font-size: 0.8em;
            padding: 1em 3em;
        }
        div{
            .inputText{
                width: 60%;
                border-radius: 20px;
                border: 0;
                outline: none;
            }
            .btnSubmit {
                @extend .btn-style;
                margin-left: 0.8em;
            }
        }
    }

}
hr{
    padding: 0;
    margin: 0;
    margin-bottom: 10%;
}
footer{

    .footer-dad{
        display: flex;
        max-width: 100%;
        
        .ubicationFooter{
            width: 40%;

            .img-ubication{
                width: 20px;
                height: 25px;
            }
            .ubication-p{
                width: 20em;
            }
        }
        
        .contactFooter{
            width: 30%;
            p{
                margin: 10px;
            }

        }

        .informationFooter{
            width: 25%;
            ul{
                li{
                    list-style: none;
                    text-align: center;
                    padding-bottom: 10px;
                    a{
                        color: $color-text;
                        text-decoration: none;
                    }
                    a:hover{
                        text-decoration: underline $color-text;
                    }
                }
            }
        }

        .socialMedias{
            width: 25%;
            text-align: center;
            i{
                font-size: 1.5em;
                margin-left: 0.5em;
                transition: all 200ms;
                cursor: pointer;
                animation-duration: 2s;
                animation-name: underline;
            }
            i:hover{
                transform: scale(1.5);
                
            }
            
        }
    }
    
    .derechosFooter{
        font-size: 0.8em;
        text-align: center;
        bottom: 0;
    }
    
}
